<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Amazon Web Scraper</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../static/jumbotron.css" rel="stylesheet">
  </head>


  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" style="padding: 5px; color: white;">Welcome to the Amazon Web Scraper</a>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" style="color: salmon;">Lets Get Started!</h1>
          <p>This is a web scraper that looks at the budget you have and recommends which items
            you can buy that fit your budget. The list of products are the ones you would like to
            purchase. The products MUST be in purchased with US Dollars. <strong>Make sure the product is "In Stock"</strong>.</p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">

        
          <div class="col-md-6">
            <form id="submit">
                <div class="form-group">
                  <label>Enter your budget: (US Dollars)</label>
                  <input class="form-control" id="budget" type="number" placeholder="Enter amount here" required>
                </div>
                <div class="form-group">
                  <label>List of products in URL form </label>
                  <textarea class="form-control" id="products" rows="3" placeholder="Enter URLS here" required></textarea>
                </div>
                <button class="btn btn-outline-primary" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-md-6">
            <div id="response"></div>

            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Quick Results </h4>
                <p class="card-text">The results from the scraper will show below: </p>
                <div id="results"></div>
              </div>
              <p style="text-align: center;"><a class="btn btn-outline-dark" id="csv_button"role="button" href="{{ url_for('csv') }}" >Export to CSV file»</a></p>
            </div>
          </div>

        </div>

        <hr>
        
        <div class="row">
          <div class="col-md-12">
            <div class="overall">
              <div id="overall_budget"></div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <h5 id="overall_list">You are able to buy the following items: </h5><br>
          <div class="card-columns"> 
          </div>
        </div>

      </div> <!-- /container -->

    
    </main>
  
    <footer class="text-muted">
      <div class="container">
        <button type="button" class="btn btn-outline-primary btn-lg" id='reset_app' onclick="reset_app()" style="float: right;" disabled>Reset App</button>
        <p>Made with Bootstrap, Python, JavaScript. <a href="https://github.com/jhercule127"> Click here</a> to check out other projects</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="../static/script.js"></script>
  

</body>
</html>
